* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: black;
}

.interface {
    max-width: 1250px;
    margin: 0 auto;
}

header .btn-contato button,
.hero-site button {
    border-radius: 40px;
    border: #fff 1px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}


/*HEADER*/

header {
    width: 100%;
    padding: 40px 0;
    top: 0;
    left: 0;
    position: absolute;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 180px;
    transition: 0.2s;
}

.logo img:hover{
    transform: scale(1.05);
}

header .menu-desktop nav ul {
    list-style: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
    font-weight: 600;
}

.menu-desktop nav a:hover {
    transform: scale(1.05);
    color: #E70072;

}

header .btn-contato button {
    width: 150px;
    height: 50px;
}

header .btn-contato button:hover,
.hero-site button:hover {
    background-color: #E70072;
    color: #000;
    transition: 0.9s;
}

/*ESTILO DO HEADER*/

section.hero-site {

    height: 95vh;
    background-image: url(../image/bg-inicio-aluno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.hero-site .interface {

    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1 {

    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
    margin: 20px;

}

.hero-site .txt-hero h1 span {
    font-weight: 600;
    display: block;
}

.hero-site button {
    width: 220px;
    height: 60px;
    font-size: 20px;
    margin: 15px;
}

/*Titulo*/

section h2.titulo-2{
    color: white;
    font-size: 30px;
    text-align: center;
    align-items: center;
    margin-top: 90px;
}

section h2.titulo-2 span {
    color: #E70072;
}

section.titulo-2 {
    padding: 40px 4%;
    align-items: center;
}

/*ESILO SOBRE O CURSO*/
section.sobre{
    padding: 50px 5%;
}
section.sobre .flex{
    display: flex;
    align-items: center;
    gap: 30px;
}
.sobre .txt-sobre{
    color: white;

}
.sobre .txt-sobre h2{
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 20px;
}

.sobre .txt-sobre h2 span{
    color: #E70072;
    display: block;
}

.sobre .txt-sobre p{
    margin: 10px 0;
    text-align: justify;
    margin-bottom: 15px;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #E70072;
    font-size: 23px;
    cursor: pointer;
    margin: 0 6px;
    transition: .2s;
}

.txt-sobre .btn-social button:hover{
    box-shadow: 3px 0px   #E70072;
    transform: scale(1.05);
}
